# =====================
# Backend – Node.js
# =====================
backend/node_modules/
backend/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build / Dist
dist/
build/

# Cache
.cache/
.npm/
.eslintcache

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/

# Coverage
coverage/

# Optional: DB files
*.sqlite
*.db

# =====================
# Eigene Daten
# =====================
Datensatz/
aras.text
